<%= form_for(@club, html: {role: "form", class: "reg-page"}) do |f| %>
    <% if @club.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

          <ul>
            <% @club.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <h3 align="center">
      <% if current_page?(controller: clubs_path, action: 'edit', id: params[:id] || 0) %>Edit Club: <%= @club.name %>
      <% else %>Create a new Club
      <% end %></h3>
    <hr/>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="controls">
      <%= f.label :name do %>
          Name<span class="color-red"> *</span>
      <% end %>
      <%= f.text_field :name, class: "span12" %>
    </div>


    <div class="controls">
      <%= f.fields_for :address do |info| %>
          <div class="fields">
            <div class="form-group">
              <div class="span7">
                <%= info.label :city do %>
                    City<span class="color-red"> *</span>
                <% end %>
                <%= info.text_field :city, class: "span12" %>
              </div>
            </div>

            <div class="span5">
              <%= info.label :postal_code do %>
                  Postal Code<span class="color-red"> *</span>
              <% end %>
              <%= info.text_field :postal_code, class: "span12" %>
            </div>

            <div class="form-group">
              <div class="span7">
                <%= info.label :street do %>
                    Street<span class="color-red"> *</span>
                <% end %>
                <%= info.text_field :street, class: "span12" %>
              </div>
            </div>

            <div class="span5">
              <%= info.label :house_number do %>
                  House number<span class="color-red"> *</span>
              <% end %>
              <%= info.text_field :house_number, class: "span12" %>
            </div>

            <div class="form-group">
              <%= info.label :country do %>
                  Country<span class="color-red"> *</span>
              <% end %>
              <%= info.text_field :country, class: "span12" %>
            </div>
          </div>
      <% end %>
    </div>

    <div class="controls">
      <div class="form-group">
        <%= f.label :url do %>
            URL<span class="color-red"> *</span>
        <% end %>

        <%= f.text_field :url, class: "span12" %>
      </div>
    </div>


    <div class="controls">
      <div class="span6">
        <%= f.label :clubURL do %>
            Image<span class="color-red"> *</span>
        <% end %>
        <%= f.file_field :clubURL %>
      </div>


      <div class="span6">
        <% if current_user %>
            <% if current_user.has_role? :admin %>
                <%= f.label :user do %>
                    User<span class="color-red"> *</span>
                <% end %>
                <%= f.collection_select :user_id, User.all, :id, :first_name, if (@club.user.nil?)
                                                                                {selected: current_user.id}
                                                                              else
                                                                                {selected: @club.user.id}
                                                                              end %>
            <% end %>
        <% end %>
      </div>
    </div>


    <div class="controls">
      <div class="view view-tenth span6">
        <%= f.label :beer do %>
            Beers<span class="color-red"> *</span>
        <% end %>
      </div>
      <div class="span6">
        <%= f.label :active %>
      </div>
      <div class="checkbox pull-left span6">
        <%= f.collection_check_boxes(:beer_ids, Beer.all, :id, :title) %>
        <hr/>
      </div>
      <div>
        <% if current_user.has_role? :admin %>
            <% if params[:active] = "true" %>
                <%= f.check_box :active, {:checked => true} %>
            <% else %>
                <%= f.check_box :active %>
            <% end %>
        <% end %>
      </div>
    </div>

    <br>

    <div class="controls form-inline span12">
      <input type="checkbox">
      <label class="checkbox" style="padding-top: 4.5px; padding-left: 5px">
        I read <a class="color-green">Terms and Conditions</a>
      </label>
      <%= f.submit class: "btn-u pull-right" %>
    </div>

<% end %>