<div class="container">
<p id="notice"><%= notice %></p>

<div class= "headline">
  <h3>Club: <%= @club.name %></h3>
</div>
<div class="container portfolio-columns">
  <div class="row-fluid">
    <div class="view view-tenth span6">
        <h2>Location</h2>
            <%= @club.address.street %>
            <%= @club.address.house_number %><br>
            <%= @club.address.city %><br>
            <%= @club.address.postal_code %><br>
            <%= @club.address.country %>
    </div>
    <div class="view view-tenth span6">

    </div>
  </div>
  <div class="row-fluid">
    <div class="view view-tenth span6">
      <h2>Webside</h2>
      <%= link_to @club.url, @club.url, :target => "_blank" %>
  </div>
    <div class="view view-tenth span6">
      <h2>Owner</h2>
      <% u=User.find(@club.user_id) %>
      E-Mail: <%= mail_to User.find(@club.user_id).email, "#{u.first_name} #{u.last_name}" %>
    </div>
  </div>
</div>
<div class= "headline">
  <h3>Beers</h3>
</div>
<div class="row-fluid margin-bottom-10">
  <div class="bx-wrapper">
    <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 218px;">
        <% @club.beers.each do |b| %>
            <li>
              <%= link_to(b.title, b) %>
            </li>
          <% end %>
    </div>
  </div>
</div>

<div class= "headline">
    <h3>Events</h3>
</div>
<div class="row-fluid margin-bottom-10">
    <div class="bx-wrapper">
        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 218px;">
              <% @club.events.each do |p| %>
                <% if p.sdate > Date.current %>
                    <li style="float: left; list-style: none; position: relative; width: 173.5px; margin-right: 10px;">
                            <%= link_to(image_tag(p.imageURL), p) %>
                            <p><%= p.sdate.to_date %></p>
                    </li>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
<% if can? :create, Event %>
    <%= link_to 'New Event', new_event_path(:club_id => @club.id ), {:class => "btn btn-large btn-primary"}%>
<% end %>
<% if can? :edit, @club %>
    <%= link_to 'Edit', edit_club_path(@club) , {:class => "btn btn-large btn-primary"}%>
<% end %>
<%= link_to 'Back', clubs_path , {:class => "btn btn-large btn-primary"}%>
</div>