<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @club.address_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @club.url, @club.url, :target => "_blank" %>


</p>

<p>
  <strong>User:</strong>
  <%= mail_to User.find(@club.user_id).email, User.find(@club.user_id).email %>
</p>
<p>Veranstalltungen:</p>
<p>
  <% @club.events.map(&:imageURL).each do |p| %>
  <%= image_tag p %> <br/>
  <% end %>
</p>
<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
