<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="container portfolio-columns">
      <div class="row-fluid">
        <div class="view view-tenth span6">

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.fields_for :address do |info| %>
        <tr>
          <td><%= info.label :city %></td>
          <td><%= info.text_field :city%></td>
        </tr>
        <tr>
          <td><%= info.label :postal_code %></td>
          <td><%= info.text_field :postal_code%></td>
        </tr>
        <tr>
          <td><%= info.label :street %></td>
          <td><%= info.text_field :street %></td>
        </tr>
        <tr>
          <td><%= info.label :house_number %></td>
          <td><%= info.text_field :house_number %></td>
        </tr>
        <tr>
          <td> <%= info.label :country %></td>
          <td><%= info.text_field :country %></td>
        </tr>
    <% end %>
    <div class="view view-tenth span6" >
      <%= f.label :beer %>
      <%= f.collection_check_boxes(:beer_ids, Beer.all, :id, :title, {selected: @shop.beers.map(&:id), include_hidden: false }, multiple: true , class: "checkbox inline")%>

    </div>
  </div>
        </div>

    </div>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
