<% content_for :title, 'Shop' %>

<div class="container">
  <div class="row-fluid">
    <div class="row-fluid margin-bottom-20">
      <div class="booking-blocks">
        <div class="overflow-hidden">

          <div class="headline"><h3>All Shops</h3></div>

          <% if current_user %>
              <% if current_user.has_role? :admin %>
                  <% if @shops_activ.count == 0 %>
                      <div>Currently all Shops are activated.</div>
                  <% else %>
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <th>Name</th>
                          <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @shops_activ.each do |a| %>
                            <tr>
                              <td style="vertical-align:middle;white-space:nowrap;">
                                <%= a.name %>
                              </td>
                              <td width="100%"></td>
                              <td style="vertical-align:middle;white-space:nowrap; ">
                                <a class="btn btn-default btn-sm" href=<%= edit_shop_path(a, :active => true) %>><i class="fa fa-check"></i> Activate</a>
                              </td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                  <% end %>
              <% end %>
          <% end %>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Address</th>
            </tr>
            </thead>

            <tbody>
            <% @count=1 %>
            <% @shops.each do |shop| %>
                <tr>
                  <td style="vertical-align:middle;white-space:nowrap;"><%= @count %> </td>
                  <td style="vertical-align:middle;white-space:nowrap;"><%= shop.name %></td>
                  <td style="vertical-align:middle;white-space:nowrap;"><%= shop.address.street + " " + shop.address.house_number + ", " + shop.address.postal_code.to_s + " " + shop.address.city + ", " + shop.address.country %></td>
                <td width="100%"></td>
                  <% if can? :show, shop %>
                      <td style="vertical-align:middle;white-space:nowrap; ">
                        <a class="btn btn-default btn-sm" href=<%= shop_path(shop) %>><i class="fa fa-search"></i> Show</a>
                      </td>
                  <% else %>
                  <td></td>
                  <% end %>
                  <% if can? :edit, shop %>
                      <td style="vertical-align:middle;white-space:nowrap; ">
                        <a class="btn btn-default btn-sm" href=<%= edit_shop_path(shop) %>><i class="fa fa-pencil"></i>
                          Edit</a>
                      </td>
                  <% else %>
                      <td></td>
                  <% end %>
                  <% if can? :delete, shop %>
                      <td style="vertical-align:middle;white-space:nowrap;" >
                        <a class="btn btn-default btn-sm" data-confirm="Are you sure?" data-method="delete" rel="nofollow" href=<%= shop_path(shop) %>><i class="fa fa-trash-o fa-lg"></i> Destroy</a>
                      </td >
                  <% else %>
                      <td></td>

                  <% end %>


                </tr>
                <% @count = @count+1 %>
            <% end %>
            </tbody>

          </table>

          <% if can? :create, Shop %>
              <%= link_to 'New Shop', new_shop_path, {:class => "btn-u btn-large"}  %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>