<% content_for :title, @shop.name %>
<% navigation_add 'Shops', shops_path %>

<div id="map" class="map margin-bottom-40">
</div>

<div class="container">
  <div class="row-fluid margin-bottom-20">

    <div class="booking-blocks">

      <div class="overflow-hidden">

        <div class="headline"><h3><%= @shop.name %></h3></div>

        <ul class="unstyled who margin-bottom-20">
          <li>
            <a><i class="fa fa-home"></i><%= @shop.address.street + " " + @shop.address.house_number + ", " + @shop.address.postal_code.to_s + " " + @shop.address.city + ", " + @shop.address.country %>
            </a></li>
          <li><a href=mailto:<%= @shop.email %>><i class="fa fa-envelope"></i><%= @shop.email %></a></li>
          <li><a><i class="fa fa-phone"></i><%= @shop.phonenumber %></a></li>
          <li><a href=<%= @shop.website %>><i class="fa fa-globe"></i><%= @shop.website %></a></li>
        </ul>

      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row-fluid margin-bottom-20">

    <div class="booking-blocks">

      <div class="overflow-hidden">

        <div class="headline"><h3>Beers</h3></div>

        <ul class="unstyled who margin-bottom-20">
          <% @i = 0 %>
          <% @shop.beers.each do |beer| %>
              <% @i = @i +1 %>
              <li class="span3">
                <div class="thumbnail-style thumbnail-kenburn">
                  <div class="thumbnail-img">
                    <div class="myoverflow-hidden"><img style=" position: absolute;top: -9999px;bottom: -9999px;left: -9999px;right: -9999px;margin: auto;" src="<%= beer.beerURL %> " alt="" /></div>
                    <%= link_to "read more +", beer, html_options = { class: "btn-more hover-effect" } %>
                  </div>
                  <h3><a class="hover-effect" href="<%= beer_path(beer) %>>"><%= beer.title %></a></h3>
                  <p> A beer of the category <%= beer.category.name %> bottled by <%= beer.producer.name %>. Click to see ratings and more information.  </p>
                </div>
              </li>
              <% if @i == 4 %>
                  <% @i = 0 %>
                  </ul>

                  <ul class="unstyled who margin-bottom-20">
              <% end %>
          <% end %>
          </ul>

      </div>
    </div>
  </div>
</div>

<div class="container glyphicons-demo" style="text-align: center">
  <a class="glyphicons no-js left_arrow" href=<%= shops_path %>><i></i>Back</a>
  <% if can? :edit, @shop %>
      <a class="glyphicons no-js edit" href=<%= edit_shop_path(@shop) %>><i></i>Edit</a>
  <% end %>
  <% if can? :delete, @shop %>
      <a class="glyphicons no-js delete" data-confirm="Are you sure?" data-method="delete" rel="nofollow" href=<%= shop_path(@shop) %>><i></i>
        Destroy</a>
  <% end %>
</div>

<script type="text/javascript">
    Contact.initMap('<%= @shop.address.city.to_s + ' ' +  @shop.address.street.to_s + ' ' + @shop.address.house_number.to_s %>')
</script>