<link href="/assets/users.css?body=1" media="all" rel="stylesheet"/>
<div class="body">

    <% content_for :title, 'Password reset' %>

    <!--/container-->
  </div>
  <!--/breadcrumbs-->
  <div class="container">
    <div class="row-fluid">

      <%= bootstrap_devise_error_messages! %>

      <h3>Forgot your Password?</h3>


      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, role: "form", class: "reg-page"}) do |f| %>

          <div class="controls">

            <%= f.label :email %>
            <%= f.email_field :email, class: "span12" %>
          </div>


          <%= f.submit t('.send_me_reset_password_instructions', :default => "Send me reset password instructions"), class: "btn-u pull-right" %>
      <% end %>

    </div>
  </div>
</div>

