<!--=== Style Switcher ===-->
<i class="style-switcher-btn fa fa-cogs"></i>
<div class="style-switcher">
  <div class="theme-close"><i class="icon-remove"></i></div>
  <div class="theme-heading">Theme Colors</div>
  <ul class="unstyled">
    <li class="theme-default theme-active" data-style="default" data-header="light"></li>
    <li class="theme-blue" data-style="blue" data-header="light"></li>
    <li class="theme-orange" data-style="orange" data-header="light"></li>
    <li class="theme-red" data-style="red" data-header="light"></li>
    <li class="theme-light" data-style="light" data-header="light"></li>
  </ul>
</div><!--/style-switcher-->
<!--=== End Style Switcher ===-->

<!--=== Top ===-->
<div class="top">
  <div class="container">
    <ul class="loginbar pull-right">
      <li><i class="fa fa-globe">&nbsp;</i><a>Languages <i class="icon-sort-up"></i></a>
        <ul class="nav-list">
          <li class="active"><a href="#">English</a> <i class="icon-ok"></i></li>
          <!--<li><a href="#">Spanish</a></li>
          <li><a href="#">Russian</a></li>
          <li><a href="#">German</a></li>-->
        </ul>
      </li>
      <!--<li class="devider">&nbsp;</li>
      <li><a href="page_faq.html" class="login-btn">Help</a></li>-->
      <li class="devider">&nbsp;</li>
      <% if current_user %>
          <% if current_user.has_role? :admin %>
              <li><%= link_to 'Verwaltung', admin_dashboard_path, data: { no_turbolink: true } %></li>
              <li class="devider">&nbsp;</li>
          <%end%>
          <li><%= link_to current_user.email, destroy_user_session_path, method: :delete %></li>
          <%= render partial: 'shared/options' %>
      <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <li class="devider">&nbsp;</li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div><!--/top-->
<!--=== End Top ===-->

<!--=== Header ===-->
<div class="header">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <a href=<%= root_path %>><img id="logo-header" src="/assets/img/ace/logo.png" alt="Logo" /></a>
    </div><!-- /logo -->

    <!-- Menu -->
    <div class="navbar">
      <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a><!-- /nav-collapse -->
        <div class="nav-collapse collapse">
          <ul class="nav top-2">
            <li <% if request.env['PATH_INFO']== '/' %>class="active" <%end%> >
              <%= link_to 'Home',root_path %>
               <!-- <b class="caret"></b>-->

              <!--<ul class="dropdown-menu">
                <li class="active"><a href="index.html">Option1: Landing Page</a></li>
              </ul>-->
              <b class="caret-out"></b>
            </li>
            <li <% if request.env['PATH_INFO'].include? '/beers' %>class="active" <%end%>>
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Beer
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to Beer, beers_path %></li>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li <% if request.env['PATH_INFO'].include? '/shops' %>class="active" <%end%> >
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Shop
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to Shop, shops_path %></li>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li <% if request.env['PATH_INFO'].include? '/clubs' %>class="active" <%end%> >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Club
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to Club, clubs_path %></li>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li <% if request.env['PATH_INFO'].include? '/events' %>class="active" <%end%> >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to Event, events_path %></li>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li <% if request.env['PATH_INFO'].include? '/ratings' %>class="active" <%end%> >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rating
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "All Ratings", ratings_path %></li>
                <li><%= link_to "Average Ratings", ratings_path(:type => "avg") %></li>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li><a class="search"><i class="icon-search fa fa-search"></i></a></li>
          </ul>
          <div class="search-open">
            <div class="input-append">
              <form />
              <input type="text" class="span3" placeholder="Search" />
              <button type="submit" class="btn-u">Go</button>
              </form>
            </div>
          </div>
        </div><!-- /nav-collapse -->
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
  </div><!-- /container -->
</div><!--/header -->
<!--=== End Header ===-->

<%= javascript_include_tag "navbar" %>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initFancybox();
        App.initSliders();
        Index.initRevolutionSlider();
    });
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29166220-1']);
    _gaq.push(['_setDomainName', 'htmlstream.com']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>