<!--=== Top ===-->
<div class="top">
  <div class="container">
    <ul class="loginbar pull-right">

      <% if current_user %>
          <% if current_user.has_role? :admin %>
              <li><%= link_to 'Verwaltung', admin_dashboard_path, data: { no_turbolink: true } %></li>
              <li class="devider">&nbsp;</li>
          <%end%>
          <li><%= link_to current_user.email, destroy_user_session_path, method: :delete %></li>
          <%= render partial: 'shared/options' %>
      <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <li class="devider">&nbsp;</li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div><!--/top-->
<!--=== End Top ===-->

<!--=== Header ===-->
<div class="header">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <a href=<%= root_path %>><img id="logo-header" src="/assets/img/ace/logo.png" alt="Logo" /></a>
    </div><!-- /logo -->

    <!-- Menu -->
    <div class="navbar">
      <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a><!-- /nav-collapse -->
        <div class="nav-collapse collapse">
          <ul class="nav top-2">
            <li <% if request.env['PATH_INFO']== '/' %>class="active" <%end%> >
              <%= link_to 'Home',root_path %>
               <!-- <b class="caret"></b>-->

              <!--<ul class="dropdown-menu">
                <li class="active"><a href="index.html">Option1: Landing Page</a></li>
              </ul>-->
              <b class="caret-out"></b>
            </li>
            <li <% if request.env['PATH_INFO'].include? '/beers' %>class="active" <%end%>>
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Beer
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'All Beers', beers_path %></li>
                <% if current_user %>
                <li><%= link_to 'New Beer', new_beer_path %></li>
                <%end %>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li <% if request.env['PATH_INFO'].include? '/shops' %>class="active" <%end%> >
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Shop
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'All Shops', shops_path %></li>
                <% if current_user %>
                <li><%= link_to 'New Shop', new_shop_path %></li>
                <%end %>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li <% if request.env['PATH_INFO'].include? '/clubs' %>class="active" <%end%> >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Club
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'All Clubs', clubs_path %></li>
                <% if current_user %>
                <li><%= link_to 'New Club', new_club_path %></li>
                <%end %>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li <% if request.env['PATH_INFO'].include? '/events' %>class="active" <%end%> >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'All Events', events_path %></li>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li <% if request.env['PATH_INFO'].include? '/ratings' %>class="active" <%end%> >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rating
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "All Ratings", ratings_path %></li>
                <li><%= link_to "Average Ratings", ratings_path(:type => "avg") %></li>
              </ul>
              <b class="caret-out"></b>
            </li>
          </ul>
        </div><!-- /nav-collapse -->
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
  </div><!-- /container -->
</div><!--/header -->
<!--=== End Header ===-->