<li class="dropdown menu-level1">
  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Optionen
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li class="menu-level2"><%= link_to "Edit Profile",edit_user_registration_path%></li>
    <% if Club.find_by_user_id(User.find_by_email(current_user.email).id.to_s).nil? %>
        <li class="menu-level2"><%= link_to "Create Club" , new_club_path%></li>
    <% else %>
        <li class="menu-level2"><%= link_to "Show Club",  club_path(Club.find_by_user_id(User.find_by_email(current_user.email).id.to_s).id.to_s) %></li>
        <li class="menu-level2"><%= link_to "Edit Club",  edit_club_path(Club.find_by_user_id(User.find_by_email(current_user.email).id.to_s).id.to_s) %></li>
        <li class="menu-level2"><%= link_to "Show Events",  events_path %></li>

    <% end %>
    <li class="menu-level2"><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
  </ul>
</li>