<!--=== Slider ===-->
<div class="fullwidthbanner-container">
  <div class="fullwidthabnner">
    <ul>
      <!-- THE FIRST SLIDE -->
      <li data-transition="slideleft" data-slotamount="1" data-masterspeed="300">

        <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
        <img src="/assets/img/ace/sliders/revolution/bg3_mini.jpg" alt="" />

        <div class="caption large_text sft" data-x="10" data-y="44" data-speed="300" data-start="800" data-easing="easeOutExpo">
          CLEAN &amp; FRESH
        </div>

        <div class="caption large_text sfr" data-x="88" data-y="78" data-speed="300" data-start="1100" data-easing="easeOutExpo">
          <span style="color: #fac001;">BEER RATING PORTAL</span>
        </div>

      </li>

      <!-- THE SECOND SLIDE -->
      <li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-delay="9400">

        <!-- THE MAIN IMAGE IN THE SECOND SLIDE -->
        <img src="/assets/img/ace/sliders/revolution/bg2_mini.jpg" alt="" />

        <div class="caption large_text sft" data-x="-60" data-y="343" data-speed="300" data-start="500" data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">
          German phrase:
        </div>

        <div class="caption large_text sfr" data-x="-60" data-y="390" data-speed="300" data-start="800" data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine">
          <span style="color: #fac001;">Hopfen und Malz - Gott erhalt's!</span>
        </div>

      </li>

      <!-- THE THIRD SLIDE -->
      <li data-transition="3dcurtain-vertical" data-slotamount="10" data-masterspeed="300">

        <!-- THE MAIN IMAGE IN THE THIRD SLIDE -->
        <img src="/assets/img/ace/sliders/revolution/bg1_mini.jpg" alt="" />

        <div class="caption large_text sft" data-x="50" data-y="100" data-speed="300" data-start="800" data-easing="easeOutExpo">
          You can rate and see Ratings for
          <span style="color: #fac001;">every Beer</span>
        </div>

      </li>

      <!-- THE FIFTH SLIDE -->
      <li data-transition="papercut" data-slotamount="3" data-masterspeed="300">

        <!-- THE MAIN IMAGE IN THE THIRD SLIDE -->
        <img src="/assets/img/ace/sliders/revolution/bg4_mini.jpg" alt="" />

        <div class="caption large_text sft" data-x="550" data-y="150" data-speed="300" data-start="1200" data-easing="easeOutExpo">
          We have more than
        </div>

        <div class="caption large_text sfr" data-x="550" data-y="192" data-speed="300" data-start="1300" data-easing="easeOutExpo">
          <span style="color: #fac001;">100 Online-Shops</span>
        </div>

      </li>

      <!-- THE SIXT SLIDE -->
      <li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-delay="9400">

        <!-- THE MAIN IMAGE IN THE SECOND SLIDE -->
        <img src="/assets/img/ace/sliders/revolution/bg5_mini.jpg" alt="" />

        <div class="caption large_text sft" data-x="-75" data-y="303" data-speed="300" data-start="500" data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">
          You can see
        </div>

        <div class="caption large_text sfr" data-x="-75" data-y="350" data-speed="300" data-start="800" data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine">
          where each beer
        </div>

        <div class="caption large_text sft" data-x="-75" data-y="397" data-speed="300" data-start="1100" data-easing="easeOutExpo" data-end="9300" data-endspeed="300" data-endeasing="easeInSine">
          is sold
        </div>

      </li>
    </ul>

    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>
<!--=== End Slider ===-->
<% if !current_user %>
<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
  <div class="container">
    <div class="span9">
      <span>BeerToBeer is a clean and fully responsive incredible Website.</span>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
    </div>
    <a href="<%= new_user_registration_path %>" class="btn-buy hover-effect">Register Now!</a>
  </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->
<% end %>

<br>
<!--=== Content Part ===-->
<div class="container">
<!-- Service Blocks -->
<div class="row-fluid">
  <div class="span4">
    <div class="service clearfix">
      <i class="fa fa-beer"></i>
      <div class="desc">
        <h4>Beer Website</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="service clearfix">
      <i class="fa fa-star"></i>
      <div class="desc">
        <h4>Rate beers</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="service clearfix">
      <i class="fa fa-group"></i>
      <div class="desc">
        <h4>Share with other users</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
      </div>
    </div>
  </div>
</div><!--/row-fluid-->
<!-- //End Service Blokcs -->
<!-- Recent Works -->
<div class="headline"><h3>The Beers</h3></div>
<ul class="thumbnails">
  <% @beers = Beer.all.limit(4) %>
  <% @beers.each do |beer| %>
  <li class="span3">
    <div class="thumbnail-style thumbnail-kenburn">
      <div class="thumbnail-img">
        <div class="myoverflow-hidden"><img style=" position: absolute;top: -9999px;bottom: -9999px;left: -9999px;right: -9999px;margin: auto;" src="<%= beer.beerURL %> " alt="" /></div>
        <%= link_to "read more +", beer, html_options = { class: "btn-more hover-effect" } %>
      </div>
      <h3><a class="hover-effect" href="<%= beer_path(beer) %>>"><%= beer.title %></a></h3>
      <p> A beer of the category <%= beer.category.name %> bottled by <%= beer.producer.name %>. Click to see ratings and more information.  </p>
    </div>
  </li>
   <% end %>

</ul><!--/thumbnails-->
<!-- //End Recent Works -->
<!-- Information Blokcs -->
<div class="row-fluid margin-bottom-20">
  <!-- The Reinheitsgebot -->
  <div class="span8">
    <div class="headline"><h3>The German Reinheitsgebot</h3></div>
    <p><img class="pull-left lft-img-margin" style="width: 100px " src="assets/img/ace/rolle.png" alt="" />The German Reinheitsgebot or Beer Purity Law  is a regulation concerning the production of beer in the Holy Roman Empire and its successor state, Germany. In the original text, the only ingredients that could be used in the production of beer were water, barley and hops.</p>
    <blockquote class="hero-unify">
      <p>„Item wir ordnen / setzen / und wöllen mit Rathe unnser Lanndtschaft / das füran allennthalben in dem Fürstenthumb Bayrn / auff dem Lande / auch in unnsern Stettn unn Märckthen / da deßhalb hieuor kain sonndere ordnung ist / von Michaelis biß auff Georij / ain mass oder kopffpiers über ainen pfenning Müncher werung / unn von sant Jorgentag / biß auff Michaelis / die mass über zwen pfenning derselben werung / und derenden der kopff ist / über drey haller / bey nachgesetzter Pene / nicht gegeben noch außgeschenckht sol werden. Wo auch ainer nit Mertzn / sonder annder pier prawen / oder sonst haben würde / sol Er d och das / kains wegs höher / dann die maß umb ainen pfenning schencken / und verkauffen. Wir wöllen auch sonderlichen / das füran allenthalben in unsern Stetten / Märckthen / unn auf dem Lannde / zu kainem Pier / merer stückh / dann allain Gersten / Hopfen / unn wasser / genommen unn gepraucht sölle werdn. Welher aber dise unsere Ordnung wissentlich überfaren unnd nie hallten wurde / dem sol von seiner gerichtzöbrigkait / dasselbig vas Pier / zuestraff unnachläßlich / so offt es geschicht / genommen werden. jedoch wo ain Grüwirt von ainem Pierprewen in unnsern Stettn / Märckten / oder aufm lande / jezuezeitn ainen Emer piers / zwen oder drey / kauffen / und wider unnter den gemaynen Pawrsuolck ausschenken würde / dem selben allain / aber sonßt nyemandes / soldyemass / oder der kopffpiers / umb ainen haller höher dann oben gesetzt ist / ze geben / unn / außzeschencken erlaubt unnd unuerpotn.“</p>
      <small>Bavarian purity law of 1516</small>
    </blockquote>
  </div><!--/span8-->
  <!-- Latest Shots -->
  <div class="span4">
    <div class="headline"><h3>The Clubs</h3></div>
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">

        <% @clubs = Club.all.limit(10) %>
        <% @clubs.each_with_index  do |club, index| %>
            <div<% if index == 0 %>
             class="item active"
          <% else %>
             class="item"
          <% end %>>
          <div class="myoverflow-hidden2" >
          <img src="<%= club.clubURL %>" style=" max-height: 100%;max-width: none;position: absolute;top: -9999px;bottom: -9999px;left: -9999px;right: -9999px;margin: auto;" alt="" />
          </div>
            <div class="carousel-caption">
            <p><%= club.name %></p>
          </div>
        </div>
         <%end %>

    </div>
      <div class="carousel-arrow">
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div><!--/span4-->
</div><!--/row-fluid-->
<!-- //End Information Blokcs -->

</div><!--/container-->
<!-- End Content Part -->
