<%= form_for(@event, html: {role: "form", class: "reg-page"}) do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <h3 align="center">
      <% if current_page?(controller: events_path, action: 'edit', id: params[:id] || 0) %>Edit
          Event: <%= @event.title %>
      <% else %>Create a new Event
      <% end %></h3>

    <hr/>

    <div class="controls">
      <%= f.label :title do %>
          Name<span class="color-red"> *</span>
      <% end %>
      <%= f.text_field :title, class: "span12" %>
    </div>

    <div class="controls">
      <%= f.label :sdate do %>
          Date<span class="color-red"> *</span>
      <% end %>
      <%= f.date_select :sdate, class: "span12" %>
    </div>

    <div class="controls">
      <%= f.label :sdate, :ignore_date => true do %>
          Time<span class="color-red"> *</span>
      <% end %>
      <%= f.time_select :sdate, :ignore_date => true, class: "span12" %>
    </div>

    <div class="controls">
      <%= f.label :imageURL do %>
          Flyer<span class="color-red"> *</span>
      <% end %>
      <%= f.file_field :imageURL, class: "span12" %>
    </div>


    <div class="controls">
      <%= f.label :club_id do %>
          Club<span class="color-red"> *</span>
      <% end %>
      <% if current_user %>
          <% if current_user.has_role? :admin %>
              <%= f.collection_select :club_id, Club.all, :id, :name,
                                      if (params[:club_id])
                                        {selected: params[:club_id]}
                                      else
                                        {selected: @event.club_id}
                                      end
              %>
          <% else %>
              <%= f.collection_select :club_id, Club.where(:user_id => current_user.id), :id, :name, if (params)
                                                                                                       {selected: params[:club_id]}
                                                                                                     else
                                                                                                       {selected: @event.club.id}
                                                                                                     end %>
          <% end %>
          </div>

      <% end %>

      <hr>
      <br>

      <div class="controls form-inline">
        <input type="checkbox">
        <label class="checkbox" style="padding-top: 4.5px; padding-left: 5px">
          I read <a class="color-green">Terms and Conditions</a>
        </label>
        <%= f.submit class: "btn-u pull-right" %>
      </div>


<% end %>
