<% content_for :title, "Events" %>
<% navigation_add 'Events', events_path %>

<div class="container">
  <div class="row-fluid margin-bottom-20">

    <div class="booking-blocks">

      <div class="overflow-hidden">

        <div class="headline"><h3><%= @event.title %></h3></div>

        <div class="overflow-hidden span4">
          <%= image_tag @event.imageURL, size: "300x300", alt: "#{@event.title} Bild" %>
        </div>
        <div class="caption">
          <h3><%= "Name: " + @event.title %></h3>

          <p>Date: <%= @event.sdate.to_date.to_s(:rfc822) %></p>

          <p>Starttime: <%= @event.sdate.to_s(:time) %></p>

          <p>Location: <%= @event.club.name %></p>
        </div>
      </div>

    </div>

    <div class="container glyphicons-demo" style="text-align: center">
      <a class="glyphicons no-js left_arrow" href=<%= events_path %>><i></i>Back</a>
      <% if can? :update, @event %>
          <a class="glyphicons no-js edit" href=<%= edit_event_path(@event) %>><i></i>Edit</a>
      <% end %>
      <% if can? :delete, @event %>
          <a class="glyphicons no-js delete" data-confirm="Are you sure?" data-method="delete" rel="nofollow" href=<%= event_path(@event) %>><i></i>
            Destroy</a>
      <% end %>
    </div>
  </div>
</div>