<!--=== Content Part ===-->
<div class="body">
  <% content_for :title, 'Ratings' %>

  <div class="container">
  <div class="row-fluid">
    <div class="span6">


      <% if params[:type] == "avg" %>
          <div class="headline"><h3>Average Ratings</h3></div>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Beer</th>
              <th><%= link_to "Price",ratings_path(:order => "Price",:type => "avg") %></th>
              <th><%= link_to "Taste",ratings_path(:order => "Taste",:type => "avg") %></th>
              <th><%= link_to "Headache",ratings_path(:order => "Headache",:type => "avg") %></th>
              <th><%= link_to "Overall",ratings_path(:order => "Overall",:type => "avg") %></th>
            </tr>
            </thead>

            <tbody>
                <% @ratings5.each do |rating| %>
                    <tr>
                      <td><%= link_to rating.beer.title,rating.beer %></td>
                      <td><%= @ratings1.where(:beers => {id: rating.beer_id}).first.avgprice %>/5</td>
                      <td><%= @ratings2.where(:beers => {id: rating.beer_id}).first.avgtaste %>/5</td>
                      <td><%= @ratings3.where(:beers => {id: rating.beer_id}).first.avgheadache %>/5</td>
                      <% @avg = @ratings4.where(:beers => {id: rating.beer_id}).first.overall %>
                      <td>
                        <i class="icon-star<% if (@avg >= 1) %><% elsif (@avg > 0.5)%>-half<% elsif (@avg <1) %>-empty<% end %>"></i>
                        <i class="icon-star<% if (@avg >= 2) %><% elsif (@avg > 1.5)%>-half<% elsif (@avg <2) %>-empty<% end %>"></i>
                        <i class="icon-star<% if (@avg >= 3) %><% elsif (@avg > 2.5)%>-half<% elsif (@avg <3) %>-empty<% end %>"></i>
                        <i class="icon-star<% if (@avg >= 4) %><% elsif (@avg > 3.5)%>-half<% elsif (@avg <4) %>-empty<% end %>"></i>
                        <i class="icon-star<% if (@avg >= 5) %><% elsif (@avg > 4.5)%>-half<% elsif (@avg <5) %>-empty<% end %>"></i>
                      </td>
                      <td><%= link_to 'All Ratings', ratings_path(:beer_id => rating.beer.id) %></td>
                    </tr>
            <% end %>
            </tbody>
          </table>





      <% else %>
          <div class="headline"><h3>Listing Ratings</h3></div>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Beer</th>
              <th>User</th>
              <th><%= link_to "Price",ratings_path(:order => "Price",:type => "all") %></th>
              <th><%= link_to "Taste",ratings_path(:order => "Taste",:type => "all") %></th>
              <th><%= link_to "Headache",ratings_path(:order => "Headache",:type => "all") %></th>
              <th><%= link_to "Overall",ratings_path(:order => "Overall",:type => "all") %></th>
              <th></th>
              <th></th>
              <th>Headline</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Comment</th>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="3"></th>
            </tr>
            </thead>

            <tbody>

            <% @ratings5.each do |rating| %>

                <% if (params[:beer_id].to_i == rating.beer_id.to_i) or !params[:beer_id]%>

                    <tr>
                      <td><%= link_to rating.beer.title,rating.beer %></td>
                      <td><%= rating.user.email %></td>
                      <td><%= @ratings1.find(rating.rating_id).avgprice %>/5</td>
                      <td><%= @ratings2.find(rating.rating_id).avgtaste %>/5</td>
                      <td><%= @ratings3.find(rating.rating_id).avgheadache %>/5</td>
                      <% @avg = @ratings4.find(rating.rating_id).overall %>
                      <td colspan="3">
                        <i class="icon-star<% if (@avg >= 1) %><% elsif (@avg > 0.5)%>-half<% elsif (@avg <1) %>-empty<% end %>"></i>
                        <i class="icon-star<% if (@avg >= 2) %><% elsif (@avg > 1.5)%>-half<% elsif (@avg <2) %>-empty<% end %>"></i>
                        <i class="icon-star<% if (@avg >= 3) %><% elsif (@avg > 2.5)%>-half<% elsif (@avg <3) %>-empty<% end %>"></i>
                        <i class="icon-star<% if (@avg >= 4) %><% elsif (@avg > 3.5)%>-half<% elsif (@avg <4) %>-empty<% end %>"></i>
                        <i class="icon-star<% if (@avg >= 5) %><% elsif (@avg > 4.5)%>-half<% elsif (@avg <5) %>-empty<% end %>"></i>
                      </td>

                      <% if rating.headline.length > 15 %>
                          <td colspan="5"><%= rating.headline.slice!(0..15) %>...</td>
                      <% else %>
                          <td colspan="5"><%= rating.headline %></td>
                      <% end %>

                      <% if rating.comment.length > 15 %>
                          <td colspan="4"><%= rating.comment.slice!(0..15) %>...</td>
                      <% else %>
                          <td colspan="4"><%= rating.comment %></td>
                      <% end %>
                      <td><%= link_to 'Show', rating %></td>
                      <td><%= link_to 'Edit', edit_rating_path(rating, :beer_id => rating.beer_id) %></td>
                      <td><%= link_to 'Destroy', rating, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>

        <%end%>
    </div>
  </div>
  <!--/row-fluid-->
</div>
    </div>
