<!--=== Content Part ===-->
<div class="body">
  <% content_for :title, 'Ratings' %>

  <div class="container">
  <div class="row-fluid">
    <div class="span6">


      <% if params[:type] == "avg" %>
          <div class="headline"><h3>Average Ratings</h3></div>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Beer</th>
              <th>Price</th>
              <th>Taste</th>
              <th>Headache</th>
              <th>Overall</th>
            </tr>
            </thead>

            <tbody>

            <% @beers = Beer.all %>
            <% @beers.each do |beer| %>



                    <tr>
                      <td><%= beer.title %></td>
                      <td><%= Rating.joins(:criterions).all.where(beer_id: beer.id, :criterions => {name: "Price"}).sum(:value)/Rating.joins(:criterions).all.where(beer_id: beer.id, :criterions => {name: "Price"}).count(:value) %>/10</td>
                      <td><%= Rating.joins(:criterions).all.where(beer_id: beer.id, :criterions => {name: "Taste"}).sum(:value)/Rating.joins(:criterions).all.where(beer_id: beer.id, :criterions => {name: "Taste"}).count(:value) %>/10</td>
                      <td><%= Rating.joins(:criterions).all.where(beer_id: beer.id, :criterions => {name: "Headache"}).sum(:value)/Rating.joins(:criterions).all.where(beer_id: beer.id, :criterions => {name: "Headache"}).count(:value) %>/10</td>
                      <td><%= Rating.joins(:criterions).all.where(beer_id: beer.id).sum(:value)/Rating.joins(:criterions).all.where(beer_id: beer.id).count(:value) %>/10</td>
                    </tr>

            <% end %>
            </tbody>
          </table>
      <% else %>
          <div class="headline"><h3>Listing Ratings</h3></div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Beer</th>
          <th>User</th>
          <th>Price</th>
          <th>Taste</th>
          <th>Headache</th>
          <th>Overall</th>
          <th>Comment</th>
          <th></th>
          <th></th>
          <th></th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @ratings = Rating.joins(:beer).all.order("title") %>

        <% @ratings.each do |rating| %>

            <% if (params[:beer_id].to_i == rating.beer_id.to_i) or !params[:beer_id]%>

                <tr>
                  <td><%= rating.beer.title %></td>
                  <td><%= rating.user.email %></td>
                  <td><%= rating.criterions.where(:name => "Price").first.value %>/10</td>
                  <td><%= rating.criterions.where(:name => "Taste").first.value %>/10</td>
                  <td><%= rating.criterions.where(:name => "Headache").first.value %>/10</td>
                  <td><%= rating.criterions.sum(:value)/3 %>/10</td>
                  <% if rating.comment.length > 15 %>
                      <td colspan="4"><%= rating.comment.slice!(0..15) %>...</td>
                  <% else %>
                      <td colspan="4"><%= rating.comment %></td>
                  <% end %>
                  <td><%= link_to 'Show', rating %></td>
                  <td><%= link_to 'Edit', edit_rating_path(rating, :beer_id => rating.beer_id) %></td>
                  <td><%= link_to 'Destroy', rating, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>

      <%end%>
    </div>
  </div>
  <!--/row-fluid-->
</div>
    </div>
