<link href="/assets/ratingbar.css" rel="stylesheet" type="text/css"/>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"
      type="text/css"/>
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="/assets/jquery.barrating.js"></script>



  <% content_for :title, 'Rating for '+ Beer.find(@rating.beer_id).title  %>
  <% navigation_add 'Ratings', ratings_path %>

  <div class="container">
    <div class="row-fluid margin-bottom-10">

      <%= form_for(Criterion.new, html: {class: "reg-page"}) do |info| %>
          <strong>Beer:</strong>
          <%= Beer.find(@rating.beer_id).title %><br>
          <strong>Author:</strong>
          <%= User.find(@rating.user_id).email %>
    <% @rating.criterions.each do |criterion| %>

              <div class="controls">


          <div class="form-group">
            <div class="input select rating-a">
              <label for="example-a"> <%= criterion.name %></label>
              <%= info.select criterion.name, ['1', '2', '3', '4', '5'], class: "form-control", :selected => criterion.value %>
            </div>
          </div>
        </div>
    <% end %>





<p>
  <strong>Comment:</strong><br>
  <%= @rating.comment %>
</p>

          <div align="center"> <%= link_to 'Edit', edit_rating_path(@rating, :beer_id => @rating.beer_id) %> |
          <%= link_to 'Back', ratings_path %></div>
      <% end %>


    </div><!--/row-fluid-->
  </div><!--/container-->
</div><!--/body-->

<script>
    $('#criterion_Price').barrating('show', {
        readonly: true
    });
    $('#criterion_Taste').barrating('show', {
        readonly: true
    });
    $('#criterion_Headache').barrating('show', {
        readonly: true
    });

</script>