<link href="/assets/ratingbar.css" rel="stylesheet" type="text/css"/>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"
      type="text/css"/>




  <% content_for :title, 'Rating for '+ Beer.find(@rating.beer_id).title  %>
  <% navigation_add 'Ratings', ratings_path %>

  <div class="container">
    <div class="row-fluid margin-bottom-10">

      <%= form_for(Criterion.new, html: {class: "reg-page"}) do |info| %>
          <strong>Beer:</strong>
          <%= Beer.find(@rating.beer_id).title %><br>
          <strong>Author:</strong>
          <%= User.find(@rating.user_id).email %>
    <% @rating.criterions.each do |criterion| %>

              <div class="controls" align="center">


          <div class="form-group" align="center">
            <div class="input select rating-a" align="center" style="width:85px">
              <label for="example-a"> <%= criterion.name %></label>
            <%= info.select criterion.name, ['1.0', '2.0', '3.0','4.0','5.0'], class: "form-control",:selected => criterion.value %>

            </div>
          </div>
        </div>
    <% end %>


<br>

          <p align ="center">
            <strong>Headline:</strong><br>
            <%= @rating.headline %>
          </p>
<p align ="center">
  <strong>Comment:</strong><br>
  <%= @rating.comment %>
</p>



      <% end %>
      <div class="glyphicons-demo">
        <a class="glyphicons no-js left_arrow" href=<%= ratings_path %>><i></i>Back</a>
        <% if can? :edit, @rating %>

         <a class="glyphicons no-js edit" href=<%= edit_rating_path(@rating, :beer_id => @rating.beer_id) %>><i></i>Edit</a>
        <% end %>
        <% if can? :delete, @rating %>
            <%= link_to @rating, method: :delete, data: {confirm: 'Are you sure?'},class:"glyphicons no-js delete" do%>
                <i></i>Destroy
            <% end %>
        <% end %>
      </div>

    </div><!--/row-fluid-->
  </div><!--/container-->


<script>
    $( document ).ready(function() {
    $('#criterion_Price').barrating('show', {
        showSelectedRating:false,
        readonly: true
    });
    $('#criterion_Taste').barrating('show', {
        showSelectedRating:false,
        readonly: true

    });
    $('#criterion_Headache').barrating('show', {
        showSelectedRating:false,
        readonly: true
    });});

</script>