<%= form_for(@beer, html: {role: "form", class: "reg-page"}) do |f| %>
    <% if @beer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

          <ul>
            <% @beer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <h3 align="center">
      <% if current_page?(controller: beers_path, action: 'edit', id: params[:id] || 0) %>Edit Beer: <%= @beer.title %>
      <% else %>Create a new Beer
      <% end %></h3>

    <hr/>
    <div class="controls">
      <%= f.label :title do %>
          Name<span class="color-red"> *</span>
      <% end %>
      <%= f.text_field :title, class: "span12" %>
    </div>

    <div class="controls">
      <%= f.fields_for :category do |info| %>
          <%= info.label :category do %>
              Category<span class="color-red"> *</span>
          <% end %>
          <%= info.text_field :name, class: "span12" %>
      <% end %>
    </div>

    <div class="controls">
      <%= f.fields_for :producer do |info2| %>
         <%= info2.label :producer do %>
              Producer<span class="color-red"> *</span>
          <% end %>
          <%= info2.text_field :name, class: "span12" %>

      <% end %>
    </div>

    <div class="controls">
      <%= f.label "Image" %>
      <%= f.file_field :imageURL %>
    </div>

    <hr/>
    <br>

    <div class="controls form-inline">
      <input type="checkbox">
      <label class="checkbox" style="padding-top: 4.5px; padding-left: 5px">
        I read <a class="color-green">Terms and Conditions</a>
      </label>
      <%= f.submit class: "btn-u pull-right" %>
    </div>

<% end %>