<div class="row-fluid margin-bottom-10">
  <%= form_for(@beer, html: {class: "reg-page"}) do |f| %>

      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <strong>Category</strong>
        <%= f.fields_for :category do |info| %>
            <%= info.label :name %>
            <%= info.text_field :name %>
        <% end %>
      </div>

      <div class="field">
        <strong>Producer</strong>
        <%= f.fields_for :producer do |info2| %>
            <%= info2.label :name %>
            <%= info2.text_field :name %>
        <% end %>
      </div>

      <div class="field">
        <strong>Image</strong><br>
        <%= f.file_field :imageURL %>
      </div>

      <div class="controls form-inline">
        <%= f.submit class: "btn-u pull-right"%>
      </div>

  <% end %>
</div>