<% content_for :title, 'Beers' %>
<div class="container">
  <div class="row-fluid">
    <div class="row-fluid margin-bottom-20">
      <div class="span6">
        <div class="headline"><h3>All Beers</h3></div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Producer</th>
                    <th colspan="3"></th>
                </tr>
            </thead>

            <tbody>
            <% @beers.each do |beer| %>
                <tr>
                    <td style="vertical-align:middle"><%= beer.title %></td>
                    <td style="vertical-align:middle"><%= beer.category.name %></td>
                    <td style="vertical-align:middle"><%= beer.producer.name %></td>
                    <td style="vertical-align:middle"><%= link_to 'Show', beer %></td>
                    <td style="vertical-align:middle"><a class="glyphicons no-js edit" href=<%= edit_beer_path(beer) %>><i></i>Edit</a></td>
                    <td style="vertical-align:middle"><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
            </tbody>
        </table>

        <br>

        <%= link_to 'New Beer', new_beer_path %>
      </div>
    </div>
  </div>
</div>