<% content_for :title, @beer.title %>
<% navigation_add 'Beers', beers_path %>
<div class="container">
  <div class="row">

    <div id="facts" class="booking-blocks " style="float: right; margin-left: 20px; width:auto !important"  >

      <div class="overflow-hidden">
        <%= image_tag @beer.beerURL, size: "200x200", alt: "#{@beer.title} Bild" %>


        <div class="headline"><h3>Facts</h3></div>
        <div class="glyphicons-demo">
          <a class="glyphicons no-js show_big_thumbnails" href="#"><i></i><strong>Category:</strong><%= @beer.category.name %></a>
          <br>
          <a class="glyphicons no-js beer" href="#"><i></i> <strong>Producer:</strong><%= @beer.producer.name %></a>
        </div>

        <%= link_to 'Rate', new_rating_path(:beer_id => @beer.id) %> |
        <%= link_to 'All Ratings', ratings_path(:beer_id => @beer.id) %> |
        <% if can? :update, @beer %>
            <%= link_to 'Edit', edit_beer_path(@beer) %> |
        <% end %>
        <% if can? :delete, @beer %>
            <%= link_to 'Delete',@rating, method: :delete, data: {confirm: 'Are you sure?'}%> |
        <% end %>
        <%= link_to 'Back', beers_path %>
      </div>
      <div>
      </div>
    </div>
    <% @ratings = Rating.all.where(beer_id: @beer.id) %>
    <% @ratings.each do |rating| %>
        <div id="rating" class=" booking-blocks" style="min-width:40%; width:auto !important">
          <div style="overflow:hidden;">
            <ul class="unstyled inline">
              <% @avg = rating.criterions.sum(:value)/3 %>
              <li><i class="fa fa-star<% if (@avg < 1) %>-o<% end %>"></i></li>
              <li><i class="fa fa-star<% if (@avg < 2) %>-o<% end %>"></i></li>
              <li><i class="fa fa-star<% if (@avg < 3) %>-o<% end %>"></i></li>
              <li><i class="fa fa-star<% if (@avg < 4) %>-o<% end %>"></i></li>
              <li><i class="fa fa-star<% if (@avg < 5) %>-o<% end %>"></i></li>
              <li><p>   </p></li>
              <li><b style="font-size:110%"><%= rating.headline %></b></li>
            </ul>
            <p>
            <% if rating.comment.length > 150 %>
                <%= rating.comment.slice!(0..150) %>...
                <a href="#">read more</a>
            <% else %>
                <%= rating.comment %>
            <% end %>
            </p>
            <p>
            <%= link_to "By " + rating.user.first_name + " " + rating.user.last_name + " on " + rating.created_at.to_date.to_s, rating %>
            </p>
          </div>
        </div>
    <% end %>
  </div>
</div>
<script>
    $(window).resize(function() {
        if ($(window).width() < 540){
            $("#facts").css("float", "left");
            $("#facts").css("margin-left", "0px");
            $("#facts").css("margin-right", "20px");
        }
        else{$("#facts").css("float", "right");$("#facts").css("margin-left", "20px");$("#facts").css("margin-right", "0px");}
    });
</script>