<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "BeerToBeer" %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tags %>

  </head>
  <body>

    <%= render partial: 'shared/navigation' %>

    <% if !(request.env['PATH_INFO']== '/') %>
      <%= render_breadcrumb %>
    <%end%>

    <%= yield %>

    <%= render partial: 'shared/footer' %>

  </body>
</html>
